div#link a:link    {color:grey; background-color:transparent; text-decoration:underline}
div#link a:visited {color:green; background-color:transparent; text-decoration:none}
div#link a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
div#link a:active  {color:yellow; background-color:transparent; text-decoration:underline}


#link{
	text-align:center;
	font-family: 'Colonna MT';
	font-size: 18px;
	text-shadow: 2px 2px 2px grey;
	padding:4px;
	margin:2px;
}