#creat{
	background-image: url(../imagini/ok.png);
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Gabriola';
	padding: 15px;
	margin: 20px;
	margin-top: 25px;
	font-size:20px;
}
#mare{
	font-size: 30px;
}