div#bar1 a:link    {color:grey; background-color:transparent; text-decoration:underline}
div#bar1 a:visited {color:green; background-color:transparent; text-decoration:none}
div#bar1 a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
div#bar1 a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#bar1{
	text-align: right;
	font-family: 'Gabriola';
	margin: 20px;
	margin-top: 25px;
	font-size:20px;
}
#bar1 a{
		font-family: 'Colonna MT';
	font-size: 18px;
	text-shadow: 2px 2px 2px grey;
}


/*---------------------*/
div#bar2 a:link    {color:grey; background-color:transparent; text-decoration:underline}
div#bar2 a:visited {color:green; background-color:transparent; text-decoration:none}
div#bar2 a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
div#bar2 a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#bar2{
	text-align: right;
	font-family: 'Gabriola';
	margin: 20px;
	margin-top: 25px;
	font-size:20px;
}
#bar2 a{
		font-family: 'Colonna MT';
	font-size: 18px;
	text-shadow: 2px 2px 2px grey;
}

/*---------------------*/
div#bar3 a:link    {color:grey; background-color:transparent; text-decoration:underline}
div#bar3 a:visited {color:green; background-color:transparent; text-decoration:none}
div#bar3 a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
div#bar3 a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#bar3{
	text-align: right;
	font-family: 'Gabriola';
	margin: 20px;
	margin-top: 25px;
	font-size:20px;
}
#bar3 a{
		font-family: 'Colonna MT';
	font-size: 18px;
	text-shadow: 2px 2px 2px grey;
}

/*---------------------*/
div#bar4 a:link    {color:grey; background-color:transparent; text-decoration:underline}
div#bar4 a:visited {color:green; background-color:transparent; text-decoration:none}
div#bar4 a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
div#bar4 a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#bar4{
	text-align: right;
	font-family: 'Gabriola';
	margin: 20px;
	margin-top: 25px;
	font-size:20px;
}
#bar4 a{
		font-family: 'Colonna MT';
	font-size: 18px;
	text-shadow: 2px 2px 2px grey;
}