div#despre a:link    {color:grey; background-color:transparent; text-decoration:underline}
div#despre a:visited {color:green; background-color:transparent; text-decoration:none}
div#despre a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
div#despre a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#despre{
	margin:20px;
	font-family: 'Gabriola';
	font-size: 20px;
	background-image:url(../imagini/10.png);
	background-repeat: no-repeat;
	background-position: center;
}
.cine{
	font-weight: bold;
	font-size: 20px;
	font-family: 'Chaparral Pro Light';
	text-shadow: 5px 3px 3px grey;
}

.continut{
	text-align: center;
}

.membri_titlu{
	font-weight: bold;
	font-size: 20px;
	font-family: 'Chaparral Pro Light';
	text-shadow: 5px 3px 3px grey;
}
.etc{
	font-size: 30px;
	font-family: 'Buxton Sketch';
	text-decoration: underline;
	color:#339999;
}