div#home a:link    {color:grey; background-color:transparent; text-decoration:underline}
div#home a:visited {color:green; background-color:transparent; text-decoration:none}
div#home a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
div#home a:active  {color:yellow; background-color:transparent; text-decoration:underline}


#home{
	background-image: url(../imagini/8.png);
	background-position: center;
	background-repeat: no-repeat;
}
.titlu{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Chaparral Pro Light';
	text-shadow: 5px 3px 3px grey;
            
}
.continut{
	padding: 20px;
	margin:20px;
	text-align: center;
	font-family: 'Arabic Typesetting';
	font-size:24px;
	text-shadow: 1px 1px 1px white;
}